*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #172455;
    display: flex;

}

.logo{
    filter: invert(100);
}

a{
    display: flex;
    align-items: center;
    gap: 170px;
    text-decoration: none ;
    color: aliceblue;
    margin-left: 20px;
}

nav{
    display: flex;
    gap: 25%;
    padding: 10px;
}


body{
    background-image: url("/img/gif2.gif");
  }
